AddDefaultCharset UTF-8
php_flag display_errors on


RewriteEngine On
RewriteBase /
# если директория или файл существуют, использовать их напрямую
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# иначе отправлять запрос на файл index.php
RewriteRule . index.php